body{
  margin: 0;
  padding: 0;
  background-color: gray;
  height: 500px;
  width: 1050px;  
}
h1{
  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 100px;
  margin-top: 100px;
}
h2{
    height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 100px;
}
h3{
  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 350px;
  margin-top: -650px;
}
h4{
      height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 350px;
}
h5{
  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 600px;
  margin-top: -650px;
}
h6{
      height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 600px;
}

header{

  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-top: -1010px;
  margin-left: 250px;
}
button1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 500px;
  cursor: pointer;
}
button1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 margin-left: 500px;
  cursor: pointer;

}
