body{
  margin: 0;
  padding: 0;
  background-color: gray;
  height: 500px;
  width: 1050px;  
}
h1{
  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 100px;
  margin-top: 100px;
}
h2{
    height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 100px;
}
h3{
  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 350px;
  margin-top: -650px;
}
h4{
      height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 350px;
}
h5{
  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 600px;
  margin-top: -650px;
}
h6{
      height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-left: 600px;
}

header{

  height: 300px;
  width: 200px;
  border: 2px solid black;
  margin-top: -1010px;
  margin-left: 250px;
}

#button-8{
  background-color: #34495e;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top:-400px;
}

#button-8:hover{
  -webkit-box-shadow: 0px 0px 10px #34495e;
  box-shadow: 0px 0px 10px #34495e;
}
.button2{
  display: inline-block;
  padding: 20px 50px;
  margin: 20px 0;
  position: relative;
  color: #ecf0f1;
margin-top: -400px;
}
